.display {
  height: 102px;
  background: #ffffff;
  border: 1px solid #e1e8ed;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 20px;
  margin-top: 31px;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .display {
    padding: 40px;
  }
}

.display p {
  font-weight: 500;
  font-size: 1.3em;
  line-height: 24px;
  color: #1c1e1f;
}

@media screen and (min-width: 1024px) {
  .display p {
    font-size: 1.5em;
  }
}

.display__result{
  font-weight: 500;
  font-size: 2.1em;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.266667px;
  color: #0079ff;
}

@media screen and (min-width: 1024px) {
  .display__result{
    font-size: 3.3em;
  }
}

.display__info {
  height: 66px;
  background: #f4f8fa;
  border: 1px solid #e1e8ed;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 0 0 4px 4px;
  padding: 16px 32px 18px;
}

.display__info span {
  font-weight: 600;
}
