.navbar {
  height: 6em;
  background: #fff;
  padding: 16px;
  width: 100%;
  display: flex;
}

.navbar__logo {
  width: 60px;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .navbar__logo {
    width: 80px;
  }
}
