.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F4F8FA;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
}

.navbar {
  height: 6em;
  background:#fff;
  background-image: url('./icons/logo.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: center;
  background-position-x: 40px;
}

/* Calculus */

.calc__amount {
  display: flex;
  text-align: left;
  margin-top: 40px;
  justify-content: space-between;
}

.calc__amount-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1C1E1F;
  margin-bottom: 4px;
}

.calc__amount-boxes {
  display: flex;
  flex-direction: row;
}

.calc__amount-currency {
  font-size: 1.8em;
  color: #657786;
  background: #F4F8FA;
  border: 1px solid #E1E8ED;
  border-radius: 4px 0px 0px 4px;
  padding: 16px 20px;
}

.calc__amount-left {
  font-size: 1.8em;
  color: #657786;
  background: #F4F8FA;
  border: 1px solid #E1E8ED;
  border-radius: 4px 0px 0px 4px;
  width: 48px;
  background-image: url('./icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calc__amount-right {
  font-size: 1.8em;
  color: #657786;
  background: #F4F8FA;
  border: 1px solid #E1E8ED;
  border-radius: 0 4px 4px 0;
  width: 48px;
  background-image: url('./icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}

.calc__amount-money {
  display: block;
}

.calc__amount-dolar {
  background: #FFFFFF;
  border: 1px solid #E1E8ED;
  padding: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.166667px;
  color: #1C1E1F;
  border-radius: 0 4px 4px 0;
  max-width: 176px;
}

.calc__amount-time {
  background: #FFFFFF;
  border: 1px solid #E1E8ED;
  padding: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.166667px;
  color: #1C1E1F;
  max-width: 136px;
}


/* Container */

.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0 391px;
}

.container__title {
  margin-top: 54px;
  margin-bottom: 32px;
  color: #1B31A8;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

.container__title span {
  font-weight: 600;
}


.container__box {
  height: 600px;
  width: 560px;
  background: #fff;
  border: 1px solid #E1E8ED;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 8px;
  padding: 39px 40px;
}

.container__box-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 200px;
  text-align: left;
}

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  background-image: url('./icons/insuranceAuto.svg');
}

.container__box-logo h1 {
  font-size: 2.6em;
  line-height: 40px;
  letter-spacing: -0.266667px;
}

.container__box-logo p {
  font-size: 1.3em;
  color:#657786;

}

/* Display */

.display {
  height: 102px;
  background: #FFFFFF;
  border: 1px solid #E1E8ED;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 4px 4px 0 0;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  margin-top: 31px;
}

.display p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1C1E1F
}

.display h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.266667px;
  color: #0079FF;
}

.display__info {
  height: 66px;
  background: #F4F8FA;
  border: 1px solid #E1E8ED;
  box-shadow: 0px 1px 4px rgba(150, 164, 176, 0.1);
  border-radius: 0 0 4px 4px;
  padding: 16px 32px 18px;
}

.display__info span {
  font-weight: 600;
}

.display__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 31px;
  width: 400px;
  background: #1B31A8;
  border-radius: 32px;
  padding: 16px;
  border: none;
}
